

/* Definir animación de movimiento*/
@keyframes moveHelicopter {
    0% {

      transform: rotate(0deg) translateY(0);
    }
    25% {
      transform: rotate(-30deg) translateY(-5px); 
    }
    50% {
      transform: rotate(30deg) translateY(5px); 
    }
    75% {
      transform: rotate(-30deg) translateY(-5px); 
    }
    100% {
      transform: rotate(20deg) translateY(0); 
    }
}
  
/* Aplicamos la animación cuando se mueva */
.move {
    animation: moveHelicopter 3s ease-in-out forwards;
}