/* Estructura principal */

body{
    margin: 0;

    width: 100dvw;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#statsView{
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 4px;
}

main{
    height: 81dvh;
    width: 90dvw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 4px;
    overflow: hidden;
    background-image: url("resources/background.png");
    background-size: cover;
    background-position: center;

}

/*Estilos comida*/
.food{
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.type0{
        background-image: url("resources/food/appleGood.png");
        &.putrid{
            background-image: url("resources/food/appleBad.png");
        }
    }
    &.type1{
        background-image: url("resources/food/carrotGood.png");
        &.putrid{
            background-image: url("resources/food/carrotBad.png");}
    }
    &.type2{
        background-image: url("resources/food/aguacateGood.png");
        &.putrid{
            background-image: url("resources/food/aguacateBad.png");}
    }
}

/* Estilos para el helicóptero */
#helicopter {
    position: absolute;
    width: 75px;
    height: 55px;
    background-image: url("resources/ovni.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: top 5s ease, left 5s ease, transform 5s ease;
    z-index: 2;
    filter: drop-shadow(0 0 15px rgba(0, 255, 150, 0.8));
}
/* Haz de luz */
#helicopter::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50px;
    height: 80px;
    background: rgba(0, 255, 150, 0.3);
    filter: blur(15px);
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Activa el haz de luz cuando el OVNI se mueve */
.move::after {
    opacity: 1;
}

.cow{
    position: absolute;
    background-image: url("resources/vacas/v4.png");
    width: 60px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: top 3s ease, left 3s ease, transform 3s ease;
    &.dead{
        background-image: url("resources/vacas/3.png");
    }
    &.abduced{
        transition: 0s;
    }
}

.lifeBar{
    position: relative;
    bottom: 20px;
    left: -5px;
    width: 70px;
    height: 20px;
}

/* Estilos para las bases */
.base {
    position: absolute;   
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("resources/base/labase.png");
    filter: drop-shadow(0 0 20px rgba(252, 253, 253, 0.8));

}

#stormCloud {
    position: absolute;
    width: 110px;
    height: 110px;
    background-image: url("resources/meteorito.gif"); /* Agrega la imagen de la nube */
    background-size: cover;
    top: 10px;
    left: 10px;
    z-index: 10;
}

