/* Estructura principal */

:root{
    --pointer: url("resources/cursor/cursor_pointer.png"),auto;
}

body{
    margin: 0;

    width: 100dvw;
    height: 100dvh;

    color: white;
    background-color: #05171b;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url("resources/cursor/cursor.png"),auto;
}

#statsView{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4px;
    font-family: 'Jersey 20', sans-serif;
    font-size: 2.75rem;
    width: 90dvw;

    p{ margin: 0; }

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;

        > div {
            margin: 8px 12px;
        }

        img{
            width: 32px;
        }

        /* Estilo actual de la barra de progreso */
        progress {
            width: 12rem;
            height: 2rem;
            margin: 0 4px;
            appearance: none;
            -webkit-appearance: none;
            border: white 1px solid;
            background-color: transparent;
            border-radius: 4px;
            padding: 2px;
        
        
            &::-webkit-progress-bar {
                background-color: transparent;
            }
            
            &::-webkit-progress-value {
                background-size: 200% 100%;
                background-repeat: repeat;
                border-radius: 2px;
            }

            &::-moz-progress-bar{
                background-size: 200% 100%;
                background-repeat: repeat;
                border-radius: 2px;
            }

            &#heliFuel{
                &::-webkit-progress-value{
                    background: linear-gradient(gold, #c85, gold);
                }
                &::-moz-progress-bar{
                    background: linear-gradient(gold, #c85, gold);
                }
                &.warning{
                    &::-webkit-progress-value{
                        background: linear-gradient(#ff000d, #f5651d, #ff000d);
                    }
                    &::-moz-progress-bar{
                        background: linear-gradient(#ff000d, #f5651d, #ff000d);
                    }
                }
            }
            &#heliLife{
                &::-webkit-progress-value{
                    background: linear-gradient(#1eff00, #12fc87, #1eff00);
                }
                &::-moz-progress-bar{
                    background: linear-gradient(#1eff00, #12fc87, #1eff00);
                }
                &.warning{
                    &::-webkit-progress-value{
                        background: linear-gradient(#ff000d, #f5651d, #ff000d);
                    }
                    &::-moz-progress-bar{
                        background: linear-gradient(#ff000d, #f5651d, #ff000d);
                    }
                }
            }
        }
    }
}

main{
    height: 81dvh;
    width: 90dvw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #375039;
    margin-bottom: 1rem;
    border-radius: 4px;
    overflow: hidden;
    background-image: url("resources/background.png");
    background-size: cover;
    background-position: center;
}

#buttonsView{
    display: flex;
    flex-direction: row;
    gap: 12px;

    & .spacer{
        width: 80px;
    }

    & .upgradeButton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Jersey 20', sans-serif;

        > div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2px;

            img{
                width: 20px;
                height: 20px;
            }
        }
    }

    button{
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        border: lightgray 2px solid;
        background-color: gray;

        img{
            width: 48px;
            height: 48px;
            filter: saturate(0);
        }

        &.enabled{
            img{ filter: none;}
            cursor: var(--pointer);

            &#upgHeal{border-color: #dff5d4; background-color: #a5f39e;}
            &#upgSpeed{border-color: #cde5ff; background-color: #7397d6;}
            &#upgFuel{border-color: #fbc0b9; background-color: #cb8973;}
            &#butRepair{border-color: #e5fff6; background-color: #76d2b4;}

            &:hover{
                border-color: #ffd700 !important;
                background-color: #ffef92 !important;
            }
        }
    }
}




#deathView{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-direction: column;
    align-items: center;

    font-family: 'Jersey 20', sans-serif;
    padding: 2rem 5rem;
    max-width: 70dvw;
    background-color: #05171b;
    border: #375039 2px solid;
    border-radius: 4px;
    box-shadow: 0 0 10px white;
    
    h2{
        font-weight: 400;
        font-size: 4rem;
        color: #ff7777;
        margin-top: 1rem;
    }

    p{
        font-size: 2rem;

        &#deathMessage{
            color: #ff7777;
            margin-top: -2.5rem;
        }

        &#reduceMargin {
            margin-top: -0.5rem;
        }
    }

    button{
        padding: 8px 12px;
        border-radius: 4px;
        background-color: transparent;
        border: white 2px solid;
        font-family: 'Jersey 20', sans-serif;
        color: white;
        font-size: 1rem;
        cursor: var(--pointer);

        &:hover{
            background-color: #375039;
        }
    }
}

/* ============================================================== */

/*Estilos comida*/
.food{
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    

    &.type0{
        background-image: url("resources/food/appleGood.png");
        &.putrid{
            background-image: url("resources/food/appleBad.png");
        }
    }
    &.type1{
        background-image: url("resources/food/carrotGood.png");
        &.putrid{
            background-image: url("resources/food/carrotBad.png");}
    }
    &.type2{
        background-image: url("resources/food/aguacateGood.png");
        &.putrid{
            background-image: url("resources/food/aguacateBad.png");}
    }
}

/* Estilos para el helicóptero */
#helicopter {
    position: absolute;
    width: 75px;
    height: 55px;
    background-image: url("resources/ovni.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: top 5s ease, left 5s ease, transform 5s ease;
    z-index: 3;
    filter: drop-shadow(0 0 15px rgba(0, 255, 150, 0.8));
    
    /* Activa el brillo cuando el ovni se mueve */
    &.move::before{
        opacity: 0.7;
    }

    /* Brillo */
    &::before {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 120px;
        height: 60px;
        background: #5cffbb3a;
        filter: blur(15px);
        transform: translateX(-50%);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    /* Abducción */
    &::after {
        content: '';
        position: absolute;
        width: 36px;
        height: 50px;
        top: 50px;
        left: 20px;
        z-index: -1;
        background-color: #75ff8757;
        filter: blur(4px);
        backdrop-filter: blur(8px) hue-rotate(-50deg);
        transform: scaleY(0%);
        transform-origin: top center;
    }
}

.HelicopterMoving .cow{
    cursor: url("resources/cursor/manzanaMordida.png"),auto;
}

.cow{
    position: absolute;
    background-image: url("resources/vacas/vaca4.png");
    width: 60px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    transition: top 3s ease, left 3s ease;
    cursor: url("resources/cursor/cursor_pointer.png"),auto;
    transform: scaleX(100%) scaleY(100%);
    &.dead{
        background-image: url("resources/vacas/vaca3.png");
    }
    &.abducing{
        transform-origin: top center;
    }
    &.abduced{
        transition: all 0s;
    }
}

.lifeBar{
    position: relative;
    bottom: 16px;
    left: -5px;
    width: 70px;
    height: 14px;

    appearance: none;
    -webkit-appearance: none;

    background-color: transparent;

    &::-webkit-progress-bar{
        background-color: transparent;
    }

    &::-webkit-progress-value{
        background-image: url(./resources/vacas/heart.png);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: left center;
        background-color: transparent;
    }

    &::-moz-progress-bar{
        background-image: url(./resources/vacas/heart.png);
        background-repeat: repeat-x;
        background-size: contain;
        background-position: left center;
        background-color: transparent;
    }
}

/* Estilos para las bases */
.base {
    position: absolute;   
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("resources/base/labase.png");
    filter: drop-shadow(0 0 20px rgba(252, 253, 253, 0.8));

}

#stormCloud {
    position: absolute;
    width: 100px;
    height: 100px;
    background-image: url("resources/meteorito2.gif");
    background-size: cover;
    top: 10px;
    left: 10px;
    z-index: 10;
    transition: height 0.5s, width 0.5s;
    transition-timing-function: steps(3, end);
}

#enemy{
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url("resources/enemigo.gif");
        background-size: cover;
        top: 10px;
        left: 10px;
        z-index: 2;
}
