/* Estructura principal */

body{
    margin: 0;

    width: 100dvw;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#statsView{
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 4px;
}

main{
    height: 75dvh;
    width: 95dvw;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid black;
    border-radius: 32px;
    overflow: hidden;
    background-color: lightgreen;

}

/*Estilos comida*/
.food{
    position: absolute;
    width: 20px;
    height: 20px;

    &.type0{
        background-color: greenyellow;
    }
    &.type1{
        background-color: purple;
    }
    &.type2{
        background-color: #ff8cec;
    }
}

/* Estilos para el helicóptero */
#helicopter {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    transition: top 5s ease, left 5s ease, transform 5s ease;
    z-index: 2;
}

.cow{
    position: absolute;
    background-color: red;
    width: 60px;
    height: 50px;
    z-index: 1;
}

/* Estilos para las bases */
.base {
    position: absolute;   
    width: 90px;
    height: 90px;
    background-color: rgb(4, 0, 255);
}

#stormCloud {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url("resources/stormcloud.gif"); /* Agrega la imagen de la nube */
    background-size: cover;
    top: 10px;
    left: 10px;
    z-index: 10;
}

